<head>
  <!-- AgencyのCSS　-->
  <link href="/agency.css" rel="stylesheets">
  <!-- fontawsomeのコード -->
  <script src="https://kit.fontawesome.com/f0d31dc058.js" crossorigin="anonymous"></script>
</head>
<!-- ヘッダー -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Naohisa's first portfolio</div>
      <div class="intro-lead-in">お気に入りの日用品をシェアしよう！！</div>
      <div class="intro-heading text-uppercase">Reviewees</div>
      <a class="btn btn-primary text-uppercase js-scroll-trigger" href="/about">Revieweesって？</a>
    </div>
  </div>
</header>
