.btn {
  background-color: #4B64A1;
}

.btn-primary {
  background-color: #4B64A1;
  border-color: #4B64A1;
}

.btn-primary a:hover {
  background-color: #4B64A1;
}

.col-sm-4 {
  background-color: transparent;
  padding-top: 10px;
}
.card {
  width: 100%;
  height: auto;
  color: black;
  border-radius: 20px;
}

.card-img-top {
  border-radius: 20px;
}

.card-body a {
  color: #7B8075;
  text-decoration: none;
}

.card-body a:hover {
  color: #969998;
  text-decoration: none;
}
