<head>
  <!-- fontawsomeのコード -->
  <script src="https://kit.fontawesome.com/f0d31dc058.js" crossorigin="anonymous"></script>
</head>
<!-- 新規投稿ページ -->
<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase"><%= @post.product_name %>の口コミを投稿しよう！</h2>
      </div>
    </div>
  </div>
  <%= form_tag("/reviews/#{@post.id}/create") do %>
  <div class="form">
      <div class="form-body">
        <% @review.errors.full_messages.each do |message| %>
          <div class="alert alert-primary" role="alert">
            <%= message %>
          </div>
        <% end %>
        <p class="section-subheading text-muted">
        <textarea name="content" placeholder="140文字以内で口コミを書こう！"><%= @review.content %></textarea>
        </p>
        <input type="submit" value="投稿">
      </div>
  </div>
  <% end %>
</section>
